<!-- start banner Area -->
<section class="about-banner relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">				
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Hotels				
        </h1>	
        <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="hotels.html"> Error</a></p>
      </div>	
    </div>
  </div>
</section>
<!-- End banner Area -->	

<!-- Start destinations Area -->
<section class="destinations-area section-gap">
  <div class="container">
          <div class="row d-flex justify-content-center">
              <div class="menu-content pb-40 col-lg-8">
                  <div class="title text-center">
                      <h1 class="mb-10">Page not found</h1>
                      <p>Sorry, the page doesn't exist.</p>
                  </div>
              </div>
          </div>						
    
  </div>	
</section>
<!-- End destinations Area -->